/* 优化 .qw 类 */
.qw {
  background: linear-gradient(180deg,
   #635120, #000),url(./pic/图片2.png); 
  padding: 100px 250px 50px; 
  border: solid;
  position: relative;
  color: white;
  background-size: 10px auto; 
  /* background-blend-mode: overlay; */
}

/* .wenzi 类保持不变，若注释不再需要可删除 */
.wenzi {
  float: right;
}
.center-text {
  display: block;
  text-align: center;
}
.centered-heading {
  text-align: center;
}

/* 容器样式 */
/* .qw {
  display: flex;
  flex-direction: column;
}
 */
.TRYTHEMNOW {
  position: absolute;  /* 缺少分号 */
  bottom: 620px;
  right: 380px;
  padding: 10px 20px;
  background-color: #634f17;
  color: white;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;  /* 逗号应改为点号 */
  margin: 10px;
}
.TRYTHEMNOW:hover{
  background-color: #000;
  border-color: white;
}